<a href="https://colab.research.google.com/github/Dybondzy/Covid_19_Pandemic_Must_Know/blob/main/Clean_Covid_19_Pandemic_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Deliverable 1

In [12]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import numpy as np
import tensorflow as tf
import os

In [13]:
# Extract from file 1
# Step 1
application_df = pd.read_csv("Provisional_COVID-19_Deaths_by_Sex_and_Age.csv")
application_df.head()

   Data As Of  Start Date  ... Pneumonia, Influenza, or COVID-19 Deaths Footnote
0  07/07/2021  01/01/2020  ...                                 843136.0      NaN
1  07/07/2021  01/01/2020  ...                                    391.0      NaN
2  07/07/2021  01/01/2020  ...                                   1253.0      NaN
3  07/07/2021  01/01/2020  ...                                    258.0      NaN
4  07/07/2021  01/01/2020  ...                                    397.0      NaN

[5 rows x 16 columns]

In [14]:
# Determine the number of unique values in each column
# Step 2
application_df.nunique()

Data As Of                                     1
Start Date                                    19
End Date                                      19
Group                                          3
Year                                           2
Month                                         12
State                                         54
Sex                                            3
Age Group                                     17
COVID-19 Deaths                             2533
Total Deaths                                6672
Pneumonia Deaths                            2396
Pneumonia and COVID-19 Deaths               1836
Influenza Deaths                             325
Pneumonia, Influenza, or COVID-19 Deaths    2963
Footnote                                       1
dtype: int64

In [15]:
# Step 3
application_df.shape

(60588, 16)

In [16]:
# Step 4
new_Provisional_COVID_Deaths_by_Sex_and_Age_df=application_df[["Data As Of","Start Date","End Date","Group","State", "Sex", "Age Group"]]

In [17]:
# Step 5
new_Provisional_COVID_Deaths_by_Sex_and_Age_df.isnull().sum()

Data As Of    0
Start Date    0
End Date      0
Group         0
State         0
Sex           0
Age Group     0
dtype: int64

In [18]:
# Determine the number of unique values in each column
# Step 6
new_Provisional_COVID_Deaths_by_Sex_and_Age_df.nunique()

Data As Of     1
Start Date    19
End Date      19
Group          3
State         54
Sex            3
Age Group     17
dtype: int64

In [19]:
# Step 7
df_Covid_Sex_Age=new_Provisional_COVID_Deaths_by_Sex_and_Age_df.rename(columns={'Data As Of': 'AsOfDate','Start Date':'StartDate','End Date':'EndDate','Age Group':'AgeGroup'}, inplace=False)
df_Covid_Sex_Age.head

<bound method NDFrame.head of          AsOfDate   StartDate  ...        Sex           AgeGroup
0      07/07/2021  01/01/2020  ...  All Sexes           All Ages
1      07/07/2021  01/01/2020  ...  All Sexes       Under 1 year
2      07/07/2021  01/01/2020  ...  All Sexes         0-17 years
3      07/07/2021  01/01/2020  ...  All Sexes          1-4 years
4      07/07/2021  01/01/2020  ...  All Sexes         5-14 years
...           ...         ...  ...        ...                ...
60583  07/07/2021  07/01/2021  ...     Female        50-64 years
60584  07/07/2021  07/01/2021  ...     Female        55-64 years
60585  07/07/2021  07/01/2021  ...     Female        65-74 years
60586  07/07/2021  07/01/2021  ...     Female        75-84 years
60587  07/07/2021  07/01/2021  ...     Female  85 years and over

[60588 rows x 7 columns]>

In [20]:
# Step 8
df_Covid_Sex_Age.nunique()

AsOfDate      1
StartDate    19
EndDate      19
Group         3
State        54
Sex           3
AgeGroup     17
dtype: int64

In [21]:
# Save and export your results to an csv file - Provisional_COVID-19_Deaths_by_Sex_and_Age
# File 1
# Step 9
df_Covid_Sex_Age.to_csv("COVID_Deaths_by_Sex_and_Age.csv")

In [22]:
# Extract from file 2
# Step 1
app_df = pd.read_csv("United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv")
app_df.head()

  submission_date state  ...  consent_cases  consent_deaths
0      03/29/2021    TX  ...      Not agree       Not agree
1      07/28/2020    MP  ...          Agree           Agree
2      08/22/2020    AR  ...      Not agree       Not agree
3      05/09/2021    PW  ...            NaN             NaN
4      08/15/2020    FL  ...      Not agree       Not agree

[5 rows x 15 columns]

In [23]:
# Determine the number of unique values in each column
# Step 2
app_df.nunique()

submission_date      531
state                 60
tot_cases          23510
conf_cases         13043
prob_cases          9188
new_case            5133
pnew_case           1757
tot_death          10677
conf_death          7822
prob_death          2291
new_death            444
pnew_death           252
created_at          1755
consent_cases          2
consent_deaths         2
dtype: int64

In [24]:
# Step 3
app_df.shape

(31860, 15)

In [25]:
# Step 4
new_US_COVID_Cases_and_Deaths_by_State_over_Time_df=app_df[["submission_date","state","tot_cases","new_case","tot_death", "new_death", "created_at"]]

In [26]:
# Step 5
new_US_COVID_Cases_and_Deaths_by_State_over_Time_df.isnull().sum()

submission_date    0
state              0
tot_cases          0
new_case           0
tot_death          0
new_death          0
created_at         0
dtype: int64

In [27]:
# Determine the number of unique values in each column
# Step 6
new_US_COVID_Cases_and_Deaths_by_State_over_Time_df.nunique()

submission_date      531
state                 60
tot_cases          23510
new_case            5133
tot_death          10677
new_death            444
created_at          1755
dtype: int64

In [28]:
# Step 7
df_COVID_Cases_Deaths_by_State=new_Provisional_COVID_Deaths_by_Sex_and_Age_df.rename(columns={'submission_date': 'AsOfDate'}, inplace=False)
df_COVID_Cases_Deaths_by_State.head

<bound method NDFrame.head of        Data As Of  Start Date  ...        Sex          Age Group
0      07/07/2021  01/01/2020  ...  All Sexes           All Ages
1      07/07/2021  01/01/2020  ...  All Sexes       Under 1 year
2      07/07/2021  01/01/2020  ...  All Sexes         0-17 years
3      07/07/2021  01/01/2020  ...  All Sexes          1-4 years
4      07/07/2021  01/01/2020  ...  All Sexes         5-14 years
...           ...         ...  ...        ...                ...
60583  07/07/2021  07/01/2021  ...     Female        50-64 years
60584  07/07/2021  07/01/2021  ...     Female        55-64 years
60585  07/07/2021  07/01/2021  ...     Female        65-74 years
60586  07/07/2021  07/01/2021  ...     Female        75-84 years
60587  07/07/2021  07/01/2021  ...     Female  85 years and over

[60588 rows x 7 columns]>

In [29]:
# Step 8
df_COVID_Cases_Deaths_by_State.nunique()

Data As Of     1
Start Date    19
End Date      19
Group          3
State         54
Sex            3
Age Group     17
dtype: int64

In [30]:
# Save and export your results to an csv file - United_States_COVID-19_Cases_and_Deaths_by_State_over_Time
# File 2
# Step 9
df_COVID_Cases_Deaths_by_State.to_csv("COVID_Cases_Deaths_by_State.csv")

In [31]:
# Extract from file 3
# Step 1
df_application = pd.read_csv("Conditions_Contributing_to_COVID-19_Deaths__by_State_and_Age.csv")
df_application.head()

   Data As Of  Start Date    End Date  ... COVID-19 Deaths  Number of Mentions  Flag
0  07/04/2021  01/01/2020  07/03/2021  ...           435.0               453.0   NaN
1  07/04/2021  01/01/2020  07/03/2021  ...          1969.0              2020.0   NaN
2  07/04/2021  01/01/2020  07/03/2021  ...          5213.0              5354.0   NaN
3  07/04/2021  01/01/2020  07/03/2021  ...         15393.0             15843.0   NaN
4  07/04/2021  01/01/2020  07/03/2021  ...         38824.0             39904.0   NaN

[5 rows x 14 columns]

In [32]:
# Determine the number of unique values in each column
# Step 2
df_application.nunique()

Data As Of               1
Start Date              19
End Date                19
Group                    3
Year                     2
Month                   12
State                   54
Condition Group         12
Condition               23
ICD10_codes             23
Age Group               10
COVID-19 Deaths       3426
Number of Mentions    3561
Flag                     1
dtype: int64

In [33]:
# Step 3
df_application.shape

(273240, 14)

In [37]:
# Step 4
# new_Conditions_Contributing_COVID_Deaths_by_State_and_Age_df=application_df[["Data As Of","Start Date", "End Date","Group", "State", "Condition", "Condition Group", "Age Group","COVID-19 Deaths"]]

new_Conditions_Contributing_COVID_Deaths_by_State_and_Age_df=application_df[["Data As Of","Start Date", "End Date","Group", "State", "Age Group","COVID-19 Deaths"]]

In [38]:
# Step 5
new_Conditions_Contributing_COVID_Deaths_by_State_and_Age_df.isnull().sum()

Data As Of             0
Start Date             0
End Date               0
Group                  0
State                  0
Age Group              0
COVID-19 Deaths    14424
dtype: int64

In [39]:
# Determine the number of unique values in each column
# Step 7
new_Conditions_Contributing_COVID_Deaths_by_State_and_Age_df.nunique()

Data As Of            1
Start Date           19
End Date             19
Group                 3
State                54
Age Group            17
COVID-19 Deaths    2533
dtype: int64

In [40]:
# Step 7
df_Covid_Contributing_Deaths=new_Provisional_COVID_Deaths_by_Sex_and_Age_df.rename(columns={'Data As Of': 'AsOfDate','Start Date':'StartDate','End Date':'EndDate', 'Age Group': 'AgeGroup','Condition Group':'ConditionGroup'}, inplace=False)
df_Covid_Contributing_Deaths.head

<bound method NDFrame.head of          AsOfDate   StartDate  ...        Sex           AgeGroup
0      07/07/2021  01/01/2020  ...  All Sexes           All Ages
1      07/07/2021  01/01/2020  ...  All Sexes       Under 1 year
2      07/07/2021  01/01/2020  ...  All Sexes         0-17 years
3      07/07/2021  01/01/2020  ...  All Sexes          1-4 years
4      07/07/2021  01/01/2020  ...  All Sexes         5-14 years
...           ...         ...  ...        ...                ...
60583  07/07/2021  07/01/2021  ...     Female        50-64 years
60584  07/07/2021  07/01/2021  ...     Female        55-64 years
60585  07/07/2021  07/01/2021  ...     Female        65-74 years
60586  07/07/2021  07/01/2021  ...     Female        75-84 years
60587  07/07/2021  07/01/2021  ...     Female  85 years and over

[60588 rows x 7 columns]>

In [41]:
# Step 8
df_Covid_Contributing_Deaths.nunique()

AsOfDate      1
StartDate    19
EndDate      19
Group         3
State        54
Sex           3
AgeGroup     17
dtype: int64

In [42]:
# Save and export your results to an csv file - Conditions_Contributing_to_COVID-19_Deaths__by_State_and_Age
# File 3
# Step 9
df_Covid_Contributing_Deaths.to_csv("Conditions_Contributing_COVID_Deaths.csv")